<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DInApiUrl" value="http://www.apiqa.dibrave.com/api/" />
    <add key="DInDPFPApiUrl" value="http://www.apifpqa.dibrave.com/api/" />
    <!-- Cambiar por unas apiKeys para esta aplicacion -->
    <add key="ApiKey" value="2ab8734f-fd02-4973-ab6c-e0d5c8a7c7c4" />
    <add key="SecretKey" value="6de51125-e6b4-476c-a3ba-16b71ac67b44" />
  </appSettings>
</configuration>